$LIST$

In [ ]:
list=[1,2,4,'a','b','c',1.5,2.5,'python']
#List item are in square bracket
#List items can be heterogenuous
#any type of values we can provide

In [1]:
list1=[1,2,3]
type(list1)

list

In [2]:
len(list1)

3

In [3]:
1 in list1

True

In [4]:
3 in list1

True

In [5]:
4 in list1

False

In [6]:
max(list1)

3

In [7]:
min(list1)

1

In [8]:
list2=[1,2,3,4,'a','b','c']
type(list2)

list

In [10]:
len(list2)

7

In [16]:
string1='python'
for i in string1:
    print(i)

p
y
t
h
o
n

In [17]:
list=[1,2,3,4]
 
for i in list:
    print(i)

1
2
3
4

In [18]:
count(list)

NameError: name 'count' is not defined

In [19]:
str1='python'
str2='good'
str1+str2

'pythongood'

In [20]:
list1=[1,2,3,4]
list2=['a','b','c']
list1+list2

[1, 2, 3, 4, 'a', 'b', 'c']

In [22]:
list1=[1,2,3,4]
list2=['a','b','c']
list1-list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [23]:
list1*list2

TypeError: can't multiply sequence by non-int of type 'list'

In [24]:
list1/list2

TypeError: unsupported operand type(s) for /: 'list' and 'list'

In [25]:
list1*2

# List allows duplicates

[1, 2, 3, 4, 1, 2, 3, 4]

$ INDEX$

In [30]:
list1=[1,2,3,4,'a','b']
list1[0]

1

In [31]:
list1[5]

'b'

In [32]:
list1[9]

IndexError: list index out of range

In [35]:
#print each letter using index method using for loop
string1='python'
for i in range(6):
    print(i)

0
1
2
3
4
5

In [39]:
string1='python'
for i in string1:
    print(i)

p
y
t
h
o
n

In [3]:
string1='python'
for i in range(6):
    print(string1[i])

p
y
t
h
o
n

In [44]:
for i in range(len(string1)):
    print(string1[i])

p
y
t
h
o
n

In [62]:
list1=[1,2,3,4,'a','b']
s=len(list1)
for i in range(len(list1)):
    print(f'positive index of {list1[i]} is {i} and negative index is {i-s}')

positive index of 1 is 0 and negative index is -6
positive index of 2 is 1 and negative index is -5
positive index of 3 is 2 and negative index is -4
positive index of 4 is 3 and negative index is -3
positive index of a is 4 and negative index is -2
positive index of b is 5 and negative index is -1

In [68]:
#[1,2,3,4,'a','b']
# -6,-5,-4,-3,-2,-1
#Negative index
list1=[1,2,3,4,'a','b']    #not complete
s=len(list1)
for i in range(len(s)):
    print('positive index of {} is {}'.format(s[i],i))

TypeError: object of type 'int' has no len()

In [69]:
a=10
type(a)

int

In [70]:
list1=[1,2,3,['a','b','c']]
list1[3]

['a', 'b', 'c']

In [72]:
list1[3][2]

'c'

In [76]:
list1[3][0]

'a'

In [77]:
list1[3][1]

'b'

In [78]:
list[1]

2

In [79]:
list[0]

1

In [94]:
list2=[[1,2,3,['a','b','c',[[[['Apple']]]]]]]
list2[0]

[1, 2, 3, ['a', 'b', 'c', [[[['Apple']]]]]]

In [103]:
list2[0][3][3][0][0][0][0]

'Apple'

In [106]:
list1=[[1,2,3],[4,5,6]]
list1[1][2]

6

In [107]:
list1=[[1,2,3],[4,5,6,[11,22,33]]]
list1[1]

[4, 5, 6, [11, 22, 33]]

In [116]:
list1[1][3][2]

33

In [117]:
list1=[1,2,3]
dir(list1)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

$Append$

In [124]:
list1=[1,2,3]
 # if i want to 100 to list1 [1,2,3,100]
list1.append(100)
list1

[1, 2, 3, 100]

In [123]:
list1=[1,2,3]
list1.append('python')
list1

[1, 2, 3, 'python']

In [125]:
l=[]
l.append(1)
l.append(2)
l

[1, 2]

In [133]:
# take a  random integer values between 1 to 30 print the number is even or odd

import random
for i in range(1,6):
    num=random.randint(1,30)
    print('{} random num is {}'.format(i,num))
    if num%2==0:
        print(num)

1 random num is 24
24
2 random num is 5
3 random num is 22
22
4 random num is 28
28
5 random num is 1

In [137]:
#instead of printing we  will save
even_list=[]
odd_list=[]
import random
for i in range(1,6):
    number=random.randint(1,30)
    print('{} random number is {}'.format(i,number))
if number%2==0:
    even_list.append(number)
else:
    odd_list.append(number)
print("even numbers:",even_list)
print("odd numbers:",odd_list)

1 random number is 8
2 random number is 28
3 random number is 14
4 random number is 25
5 random number is 14
even numbers: [14]
odd numbers: []

In [147]:
#create a list with first 10 numbers
list=[]
for i in range(10):
    list.append(i)
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# for above list create another list with square

In [149]:
list=[]
for i in range(10):
    list.append(i*i)
list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [153]:
#another way
list1=[0,1,2,3,4,5,6,7,8,9]
square_list=[]
for i in list1:
    square_list.append(i*i)
square_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

$List Comprehence$

In [154]:
list=[]
for i in range(10):
    list.append(i*i)
list
 or
#ð¿ð‘–ð‘ ð‘¡ð¶ð‘œð‘šð‘ð‘Ÿð‘’â„Žð‘’ð‘›ð‘ð‘’

val=[i for i in range(10)]
val

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [156]:

list1=[0,1,2,3,4,5,6,7,8,9]
square_list=[]
for i in list1:
    square_list.append(i*i)
square_list

or 
List Comprehence

val=[i*i for i in list1]
val

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
list1=[1,2,3,4]
list2=['a','b','c']
list3=list1+list2

In [5]:
list1.extend(list2)
list1

[1, 2, 3, 4, 'a', 'b', 'c']

In [6]:
list1=[1,2]
list2=['apple','banana']
list1.extend(list2)
list1

[1, 2, 'apple', 'banana']

In [8]:
list='pythonp'
list.count('p')

2

In [13]:
list2=[1,2,3,3,4,'a','b','c']
list2.count(3)

2

In [28]:
import random

list1=[]
for i in range(10):
    num=random.randint(1,100)
    list1.append(num)
list1

[25, 25, 78, 19, 79, 48, 7, 79, 87, 54]

In [37]:
#step 2
list3=[]
for i in list1:
    if i not in list3:
        count=list1.count(i)
        print(' {} repeated {} times'.format(i,count))
    list3.append(i)
    
    #step1-- i=20   list3[]   true count print list3[20]
    #step2 --- i=6  list3[20] true count print list3[20,6]

 25 repeated 2 times
 78 repeated 1 times
 19 repeated 1 times
 79 repeated 2 times
 48 repeated 1 times
 7 repeated 1 times
 87 repeated 1 times
 54 repeated 1 times

In [51]:
list1=['apple','banana','hyd']
list2=list1.copy()

In [52]:
list1.append('chennai')

In [53]:
list2

['apple', 'banana', 'hyd']

In [54]:
list1

['apple', 'banana', 'hyd', 'chennai']

In [56]:
list2=list1.copy()
list2

['apple', 'banana', 'hyd', 'chennai']

In [58]:
string1='python'
string1.count('p')

1

In [59]:
list1=['p','y','h','b','k','l','h']
list1.count('h')

2

$Index$

In [60]:
list1=[1,2,3,'hyd']
list1.index('hyd')

3

In [61]:
list1=[1,2,3,'hyd','hyd']
list1.index('hyd')

3

In [74]:
list1=[1,2,'hyd',4,5,'hyd',6,7,8,'hyd']
print(list1.index('hyd')) #2  
print(list1.index('hyd',2+1)) #(hyd,2+1)  list1.index('hyd',list1.index('hyd')+1)) #5
print(list1.index('hyd',5+1)) #6          list1.index('hyd',list1.index('hyd',list1.index('hyd')+1)+1))

2
5
9

In [73]:
list1=[1,2,3,'hyd',4,5,'hyd',6,7,8,'hyd']
print(list1.index('hyd',3+1))

6

$Reverse$

In [77]:
list1=[1,2,6,7,8,13]
list1.reverse()
list1

[13, 8, 7, 6, 2, 1]

In [78]:
list1=[1,2,6,7,8,13]
list1.sort()       #  Default valu=false
list1

[1, 2, 6, 7, 8, 13]

In [79]:
list1=[1,2,6,7,8,13]
list1.sort(reverse=False)  #Ascending Order
list1

[1, 2, 6, 7, 8, 13]

In [80]:
list1=[1,2,6,7,8,13]
list1.sort(reverse=True)  #Desending order
list1

[13, 8, 7, 6, 2, 1]

In [81]:
list1=['hyd','chennai','karnakata','mumbai']
list1.sort(reverse=True)  #Desending order
list1

['mumbai', 'karnakata', 'hyd', 'chennai']

In [85]:
list1=['hyd','chennai','karnakata','mumbai']
list1.sort()      #Ascending Order
list1

['chennai', 'hyd', 'karnakata', 'mumbai']

$Remove$

In [87]:
list1=[1,2,3,4,2]
list1.remove(3)
list1

[1, 2, 4]

In [88]:
list1=[1,2,3,4,2]
list1.remove(2)
list1

[1, 3, 4, 2]

$Pop$

In [90]:
list1=[1,2,3,4,2]
list1.pop()   #last value
list1

[1, 2, 3, 4]

In [95]:
list1=[1,2,3,4,2]
list1.remove(2)    #remove first 2
list1

[1, 3, 4, 2]

In [ ]:
list1=[1,2,3,4,2]
list1.pop(1)   #last value   #remove method
list1

In [94]:
list1=[1,2,3,4,2,6]
list1.pop(4)
list1

[1, 2, 3, 4, 6]

In [99]:
list1=[1,2,3,4,2,6]
index=list1.index(2,2)
list1.pop(index)
list1

[1, 2, 3, 4, 6]

In [97]:
list1.index(2,list1.index(2)+1)

4

$Insert$

In [101]:
list1=[1,2,3,4]
list1.insert(2,'hyd')
list1

[1, 2, 'hyd', 3, 4]

In [16]:
qstn_list=['what is the capital of india','who is pm','who is the president of india']
ans_list=['Delhi','modi','mrumu']
for i in range(len(qstn_list),len(ans_list)):
    val=eval(input("enter the answer"))
    if user answer==ans_list
    print("correct answer")
    else
    print('It is a wrong number, the correct ans is {}.format(i,correct ans)'
print(i)

NameError: name 'i' is not defined

In [18]:
qstn_list=['what is the capital of india','who is pm','who is the president of india']
ans_list=['Delhi','modi','mrumu']
for i in range(len(qstn_list)):
    print(qstn_list[i])

what is the capital of india
who is pm
who is the president of india

In [9]:
qstn_list=['what is the capital of india','who is pm','who is the president of india']
ans_list=['Delhi','modi','mrumu']
right_answer=0
for i in range(len(qstn_list)):
    user_answer=input("enter the answer")
    if user_answer.lower()==ans_list[i].lower():
        
        right_answer+=1
    else:
        print("that is wrong answer!,the correct answer is {}".format(ans_list[i]))
        print("the number of correct answers given by user is:",right_answer)

enter the answerhkk
that is wrong answer!,the correct answer is Delhi
the number of correct answers given by user is: 0
enter the answermodi
enter the answermrj
that is wrong answer!,the correct answer is mrumu
the number of correct answers given by user is: 1